@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Nunito Sans';
}

nav {
	display: flex;
	justify-content: space-between;
	padding: 16px 80px;
	background-color: white;
	box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.08);
}

nav ul {
	display: flex;
	flex-flow: row;
	list-style: none;
	width: 300px;
	justify-content: space-between;
	align-items: center;
}

nav ul a {
	text-decoration: none;
	color: black;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 186px;
	height: 40px;
	background: #6C63FF;
	border-radius: 4px;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	color: white;
	cursor: pointer;
}

/* .fa-plus-circle {
	margin-right: 0.8em;
} */

/* .body-div1, .body-div2 {
	margin-left: 150px;
	margin-right: 150px;
} */

.body-div1 {
	margin-top: 25px;
	font-size: 24px;
	line-height: 33px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 60px;
}

.article-card {
	width: 320px;
	margin: 1rem ;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	text-align: justify;
}

.article-card h1 {
	margin-top: 20px;
	font-weight: 600;
	font-size: 25px;
	line-height: 27px;
}

.article-card p {
	font-weight: 400;
	font-size: 17px;
	line-height: 22px;
	margin: 15px 0;
}

#image{
	margin-top: 30px;
	border: solid red;
}
.body-div2 {
	display: flex;
	flex-direction: row ;
	float: left;
	width: max-content;
}

#popup {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
	position: fixed;
	background-color: #313131;
	overflow: auto;
}

img#close {
	position: absolute;
	right: -910px;
	margin: 13px 0px 0px 19px;
	cursor: pointer;
	z-index: 9;
}

img#rect {
	position: absolute;
	width: 5px;
	height: 41px;
	background: #FE9A28;
	z-index: 9;
	margin: 41px 0px 0px 18px;
}

div#popupContact {
	display: none;
	flex-direction: column;
	position: absolute;
	left: 45%;
	top: 17%;
	margin-left: -400px;
}

#card {
	position: absolute;
	display: flex;
	justify-content: flex-center;
	align-items: center;
	/* width: 920px; height : 572px; */
	padding: 108px 0px 0px 18px;
	flex-direction: column;
	border: 2px solid gray;
	font-family: raleway;
	background-color: #fff;
	/* height: 572px; */
	
}

h2 {
	position: absolute;
	width: 102px;
	height: 33px;
	margin: 41px 0px 0px 42px;
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 33px;
	z-index: 9; display : flex;
	align-items: center;
	color: #000000;
	display: flex;
}

input[type="text"] {
	
	padding: 0px 0px 0px 21px;
	width: 884px;
	height: 49px;
	color: #828282;
	font-size: 18px;
	line-height: 25px;
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
}

textarea {
	margin:14px 0px 0px 0px;
	padding: 12px 0px 0px 20px;
	width: 884px;
	height: 232px;
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	color: #828282;
}

::placeholder {
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	color: #828282;
}

#post{
font-family: Nunito;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
width: 100px;
height: 39px;
margin: 71px 64px 103px 784px;
align-items: center;
text-align: center;
background: #6C63FF;
border-radius: 4px;
color: #FFFFFF;
}

#poster
{
	height: 200
}